<ion-header>
  <ion-toolbar>
    <ion-title>WorkList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="8" offset-sm="2" text-center>
            <ion-virtual-scroll
              [items]="loadedWork"
              approxItemHeight="70px">
              <ion-item 
                [routerLink]="['/work-detail']"
                detail
                *virtualItem="let work"
              >
                <ion-thumbnail slot="start">
                  <ion-img [src]="work.imageUrl"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ work.title }}</h2>
                  <p>{{ work.description }}</p>
                </ion-label>
              </ion-item> 
            </ion-virtual-scroll>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
