<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>WorkList</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/work-detail-new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

      <ion-row>
        <ion-col size="12">
          <ion-input placeholder="search" clearInput [(ngModel)]="searchText" (ionChange)="filterText()"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" text-center>
          <ion-virtual-scroll [items]="filteredWork" approxItemHeight="70px">
            <ion-item [routerLink]="['/work-detail-view/' + work.id]" detail *virtualItem="let work" >
              <ion-item-options side="end">
                <ion-item-option color="secondary">
                  <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
              <ion-thumbnail slot="start">
                <ion-img [src]="work.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ work.title }}</h2>
                <p>{{ work.description }}</p>
              </ion-label>
            </ion-item>
          </ion-virtual-scroll>
        </ion-col>
      </ion-row>

    </ion-grid>

</ion-content>
